<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Verificação de Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="logo" size="12">
        <ion-icon name="people-outline"></ion-icon>
        <br>
        Professores e Faculdades
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p>
          Favor verifique seu email e clique no link para ativar seu endereço de email.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button type="submit" (click)="enviarEmailConfirmacao()" expand="block">
          Reenviar email de verificação
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button type="submit" (click)="voltarLogin()" expand="block" color="success">
          Voltar à tela de logon
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
