<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="aluno"></ion-back-button>
    </ion-buttons>
    <ion-title>Pesquisar suas Faculdades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-searchbar
          [(ngModel)]="textoFiltro"
          mode="ios"
          searchIcon="search-outline"
          placeholder="Filtrar Faculdades">
        </ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Lista de Faculdades</ion-label>
        <ion-list lines="full">
          <ion-item *ngFor="let faculdade of listaFaculdade | filtro: textoFiltro">
            <ion-label>{{faculdade.nome }}</ion-label>
            <ion-button color="primary" fill="clear" (click)="detalharFaculdade(faculdade.id)">
              <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
