.icon-avaliacao-geral {
  text-align: center;

  ion-icon {
    font-size: 60px;
    padding-top: 10px;

    &.star {
      color: gold;
    }

    &.star-half {
      color: orange;
    }

    &.star-out {
      color: orangered;
    }
  }
}

.label-avaliacao-geral {
  font-size: 20px;
  text-align: center;

  b {
    font-size: 30px;
  }
}

.cabecalho-comentarios {
  font-size: 20px;
}

.lista-comentarios {
  overflow: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 330px);
  min-height: 100px;
}

.sem-comentarios {
  padding-left: 5%;
}

.botao-comentar {
  position: absolute;
  bottom: 10px;
  width: 97%;
}
