<ion-header>
  <ion-toolbar>
    <ion-title>Selecionar Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="obterPerfil()" expand="block" fill="clear" shape="round">
    Obter Perfil
  </ion-button>
  <ion-button (click)="criarPerfilFakeAluno()" expand="block" fill="clear" shape="round">
    Criar Perfil Aluno
  </ion-button>
  <ion-button (click)="criarPerfilFakeProfessor()" expand="block" fill="clear" shape="round">
    Criar Perfil Professor
  </ion-button>
  <ion-button (click)="criarPerfilFakeFaculdade()" expand="block" fill="clear" shape="round">
    Criar Perfil Faculdade
  </ion-button>
</ion-content>
