.cabecalho {
  font-size: 20px;
}

.label-text {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.label-carrasco {
  padding-left: 5%;
  padding-bottom: 0px;
  color: #eb445a;
}

.label-bonzinho {
  padding-right: 5%;
  padding-bottom: 0px;
  text-align: end;
  color: #3880ff;
}

.progress-grauBomRuim {
  padding: 15px 5% 20px 5%;
}
