<ion-header>
  <ion-toolbar>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="logo" size="12">
        <ion-icon src="assets/icon/professor.svg"></ion-icon>
        <br>
        Professores e Faculdades
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button (click)="pesquisarFaculdades()" expand="block">
          Pesquisar faculdades
        </ion-button>

        <br>

        <ion-button (click)="pesquisarProfessores()" expand="block">
          Pesquisar professores
        </ion-button>

        <br>

        <ion-button (click)="editarDados()" expand="block">
          Editar dados
        </ion-button>

        <br>

        <ion-button (click)="logout()" expand="block">
          Logout
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
