.divider {
  display: flex;

  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #cccccc;

  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
}

.one-line {
  &:before,
  &:after {
     background: #cccccc;
  }
}

.form ion-grid,
.form ion-row {
  height: 60%;
  justify-content: center;
}

.form .logo {
  text-align: center;
  padding-top: 20px;

  ion-icon {
    font-size: 120px;
  }
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
}
